/* Olaf Willner, 2019 */

body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0px;
}

a {
  text-decoration: none;
}

.header {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.responsive-header {
  display: none;
}

.header-inner {
  display: block;
  padding-left: 7%;
  padding-right: 7%;
  float: none;
}

.responsive-header-inner {
  display: block;
  padding-left: 7%;
  padding-right: 7%;
  float: none;
}

.title {
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  background: #fff;
  color: #000;
  font-size: 36px;
  font-weight: 500;
  float: left;
  padding-top: 45px;
  display: block;
}

.responsive-title {
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  background: #fff;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  float: left;
  padding-top: 8vw;
  padding-left: 0px;
  display: block;
}

.header-nav {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  background: #fff;
  font-size: 14px;
  font-weight: 600;
  padding-left: 1vw;
  text-align: right;
}

.header-nav-list {
  display: block;
}

.recent-work {
  color: #000;
  padding-top: 60px;
  float: right;
}

.photography {
  color: #9B9B9B;
  margin-left: 1.5vw;
  padding-top: 60px;
  float: right;
}

.about {
  color: #9B9B9B;
  margin-left: 1.5vw;
  padding-top: 60px;
  float: right;
}

.contact {
  color: #9B9B9B;
  margin-left: 1.5vw;
  padding-top: 60px;
  float: right;
}

.contact:hover, .photography:hover, .recent-work:hover, .about:hover {
  color: #000;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

.content {
  padding-right: 250px;
}

.text-inner {
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-size: 36px;
  font-weight: 500;
  color: #000;
  padding-top: 200px;
  padding-right: 40px;
  padding-bottom: 100px;
  padding-left: 40px;
  line-height: 1.4em;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

.text-inner-responsive {
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-size: 26px;
  font-weight: 500;
  color: #000;
  padding-top: 50px;
  /* padding-right: 17px; */
  padding-bottom: 35px;
  /* padding-left: 17px; */
  line-height: 1.4em;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

.img-1 {
  padding-left: 6%;
  padding-right: 5%;
  margin-bottom: 50px;
  max-width: 90%;
  height: auto;
  float: right;
}

.img-1-portrait {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 50px;
  margin-top: 80px;
  max-width: 90%;
  height: auto;
  float: right;
}

.bottom-text {
  margin-top: 50px;
}

.bottom-text-inner {
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-size: 36px;
  font-weight: 500;
  color: #000;
  padding-top: 500px;
  padding-right: 40px;
  padding-bottom: 150px;
  padding-left: 40px;
  line-height: 1.4em;
  padding-left: 6%;
  text-align: left;
}

.footer {
  background-color: #F9F9F9;
  height: 20vh;
}

.footer-text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  background: transparent;
  color: #9B9B9B;
  font-size: 18px;
  font-weight: 500;
  padding-left: 7%;
  padding-top: 2vh;
  text-align: left;
}

.photography-text-inner {
  font-family: adobe-caslon-pro, sans-serif;
  font-style: normal;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 7%;
  padding-left: 7%;
}

.photography-text-title {
  float: left;
  font-size: 28px;
  color: #2d3436;
  font-weight: 600;
}

.photography-text-sub {
  float: left;
  font-size: 28px;
  color: #A4A4A4;
}

.photography-content-inner {
  padding-top: 80px;
  padding-right: 7%;
  padding-bottom: 160px;
  padding-left: 7%;
  width: 100%;
  float: left;
}

.img-2 {
  float: left;
  position: relative;
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.img-3, .img-4 {
  float: left;
  position: relative;
  padding-left: 100px;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* responsive styling */

@media only screen and (max-width: 768px) {
  .title, .header {
    display: none;
  }

  .responsive-header {
    display: block;
  }

  .img-1 {
    display: none;
  }

  .text-inner {
    display: none;
  }

  .bottom-text-inner {
    display: none;
  }

}

@media only screen and (min-width: 768px) {
  .img-1-portait {
    display: none;
  }

  .text-inner-responsive {
    display: none;
  }
}
